.vim/autoload/*
.vim/plugged/*
.vim/.netrwhist

.ssh/*

.config/Brave*
.config/Pinta*
.config/google-chrome*
.config/pulse*
.config/zoom*
.config/dconf*
.config/htop*
.config/Troll*
.config/SEGGER*
.config/spotify*
.config/xournalpp*
.config/gh*
styles/
.config/vale_styles/
.config/nvim/plugin/*
