[core]
	editor = nvim
[init]
	defaultBranch = main
[user]
	name = Silas Waxter
    email = silaswaxter@gmail.com
[includeIf "gitdir:~/Workspace/school/"]
    path = ~/.gitconfig-school
[alias]
	adog = log --all --decorate --oneline --graph
